.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 90px;
  width: 90px;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}